@import url(//db.onlinewebfonts.com/c/073a3b73a63a87e100f6bb8f003fc0d3?family=Flexo+Light);

*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
    font-family: "Flexo Light", sans-serif;

    
}

body{
    /*background: linear-gradient(to bottom, rgb(255, 217, 0), rgba(228, 228, 6, 0.575) );*/
    background-image: url("/assets/body_bg.png");
    height: 100%;
}


.mainName{ /* To be edited */
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}


.pokeContainer{
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon{
    background: white;
    padding: 10px;

    width: 110px;
    
    border: none;
    border-radius: 20px;

    position: relative;

    margin: 10px;

    text-align: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.pokemon:hover{
    transform: scale(1.05);
}

.headerContainer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.searchContainer{
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    margin-right: 20vh;
    width: fit-content;
    height: fit-content;

    border: 1px solid black;
    border-radius: 10px;
    background: white;
}

.searchContainer input, text{
    width: 20vh;
    height: 20px;
    border: none;
    outline: none;
    background: #000;
}

.searchContainer img{
    justify-content: center;
    align-items: center;
    height: 10px;
    width: 10px;
}

.searchContainer form{
    padding: 0;
}

.searchContainer button{
    background: red;
    cursor: pointer;
    width: 3vh;
    height: 20px;
    border-radius: 10px;
    float: right;
}

.logo img{
    width: 50%;
}

.pokeInfo{
    
}


.pokeName{
    font-size: medium;
}

.pokeNumber{
    font-size: small;
    font-weight: bold;
}


.pokeType{
    font-size: small;
    font-weight: bold;
    max-width: fit-content;
    /*background: white;*/
    text-align: center;
    border-radius: 5px;
    padding: 1px 4px 3px 5px;
    margin: 1px;
    flex-direction: row;
}


.pokeShowOff{
    background: rgb(181, 179, 179);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 20px;
    margin-bottom: 10px;
}


.pokeBackground{
    opacity: 100%;
    position: absolute;
}


.pokeImage{
    z-index: 15; /* Ficar na frente do background */
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}